.blogDetails {
  background: #050505;
  padding-bottom: 80px;
 
}

.blogDetails__container {
  max-width: 1300px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 40px;
}

/* Responsive */

@media (max-width: 900px) {
  .blogDetails__container {
    grid-template-columns: 1fr;
  }
}
