.bd-blogSidebar {
  position: static;
  top: 40px;
}

/* CARD */

.bd-sidebarCard {
  background: linear-gradient(180deg, #141616, #0c0d0d);
  padding: 22px;
  border-radius: 18px;
  margin-bottom: 26px;
}

.bd-sidebarCard h3 {
  color: white;
  font-size: 22px;
  margin-bottom: 18px;
}

/* SEARCH */

.searchBox {
  position: relative;
}

.searchBox input {
  width: 100%;
  background: black;
  border: none;
  outline: none;
  padding: 14px 45px 14px 18px;
  border-radius: 14px;
  color: white;
}

.searchBox svg {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
}

/* RECENT POSTS */

.bd-recentPost {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
}

.bd-recentPost img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.bd-recentPost p {
  color: white;
  font-size: 15px;
  line-height: 1.4;
}

.bd-recentPost span {
  color: #999;
  font-size: 13px;
}

/* CATEGORIES */

.bd-categoryItem {
  background: black;
  border-radius: 14px;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.bd-categoryItem span {
  color: white;
}

/* YELLOW HOVER */

.bd-categoryItem:hover {
  background: #e5ff9f;
}

.bd-categoryItem:hover span {
  color: black;
  font-weight: 600;
}

/* TAGS */

.tagWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tagWrap span {
  background: black;
  padding: 6px 14px;
  border-radius: 20px;
  color: #ddd;
  font-size: 13px;
}

/* TAG HOVER */

.tagWrap span:hover {
  background: #e5ff9f;
  color: black;
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  .bd-blogSidebar {
    position: relative;
    top: 0;
  }
}

@media (max-width: 768px) {
  .bd-recentPost img {
    width: 60px;
    height: 60px;
  }

  .bd-sidebarCard h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .bd-sidebarCard {
    padding: 18px;
  }

  .bd-recentPost p {
    font-size: 14px;
  }
}
