/* =============================
   TEAM SECTION
============================= */

.tek-team-section{
  padding:60px 0px;
  background:#000;
  color:#fff;
}

/* =============================
   HEADER
============================= */

.tek-team-header{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1.5fr 1fr auto;
  gap:40px;
  align-items:center;
  margin-bottom:70px;
}

.tek-team-left{
  max-width:520px;
}

.tek-team-tag{
  color:#d6ff2b;
  font-weight:600;
  letter-spacing:2px;
}

.tek-team-title{
  font-size:48px;
  font-weight:700;
  margin-top:15px;
  line-height:1.2;
}

.tek-team-middle{
  color:#ccc;
  font-size:16px;
}

/* BUTTON */

.tek-team-more-btn{
  background:#d6ff2b;
  border:5px solid #d6ff2b;   /* thick yellow border */
  padding:14px 32px 14px 36px;
  border-radius:70px;
  font-weight:600;
  cursor:pointer;
  display:flex;
  align-items:center;
  font-size: 16px;
  gap:18px;
  color:#000;
  transition:.4s ease;
}

/* Arrow black circle */

.tek-team-arrow-circle{
  background:#000;
  width:44px;
  height:44px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* Angled arrow */

.tek-team-arrow-icon{
  color:#fff;
  font-size:16px;
  transform:rotate(-45deg);
}

/* Hover full black but border stays yellow */

.tek-team-more-btn:hover{
  background:#000;
  color:#fff;
  border-color:#d6ff2b;
}

/* =============================
   CARDS
============================= */

.tek-team-cards{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

.tek-team-card{
  background:#111;
  border-radius:18px;
  overflow:hidden;
}

.tek-team-img-box{
  position:relative;
}

.tek-team-img-box img{
  width:100%;
  height:380px;
  object-fit:cover;
}

/* SOCIAL */

.tek-team-social-wrap{
  position:absolute;
  bottom:20px;
  right:20px;
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
}

.tek-team-share-btn{
  background:#d6ff2b;
  width:46px;
  height:46px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:.4s;
}

.tek-team-social-icons{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-bottom:10px;
  opacity:0;
  transform:translateY(20px);
  pointer-events:none;
  transition:.4s;
}

.tek-team-social-icons svg{
  background:#fff;
  color:#000;
  width:36px;
  height:36px;
  padding:8px;
  border-radius:50%;
  cursor:pointer;
  transition:.3s;
}

.tek-team-social-icons svg:hover{
  background:#d6ff2b;
}

/* Hover Effects */

.tek-team-card:hover .tek-team-social-icons{
  opacity:1;
  transform:translateY(0);
  pointer-events:auto;
}

.tek-team-card:hover .tek-team-share-btn{
  opacity:0;
  transform:scale(0);
}

/* INFO */

.tek-team-info{
  padding:22px;
}

.tek-team-info h3{
  font-size:20px;
  margin-bottom:6px;
}

.tek-team-info span{
  color:#aaa;
  font-size:14px;
}

/* =============================
   RESPONSIVE
============================= */

@media(max-width:1100px){
  .tek-team-cards{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:900px){
  .tek-team-header{
    grid-template-columns:1fr;
    text-align:center;
  }

  .tek-team-more-btn{
    margin:auto;
  }
}

@media(max-width:600px){
  .tek-team-title{
    font-size:34px;
  }

  .tek-team-cards{
    grid-template-columns:1fr;
  }
}
