.contact {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 120px 6%;
  color: #fff;
}

.contact-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at left, rgba(201,255,26,0.15), transparent 50%),
              rgba(0,0,0,0.85);
}

.contact-container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
}

/* LEFT */

.tag {
  color: #e5ff9f;
  letter-spacing: 3px;
  font-size: 13px;
}

.contact-left h2 {
  font-size: clamp(30px, 4vw, 46px);
  margin: 20px 0 35px;
  line-height: 1.2;
}

/* BUTTON */

.primary-btn {
  background: #e5ff9f;
  border: 2px solid transparent;
  padding: 14px 26px;
  border-radius: 40px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  transition: 0.35s ease;
}

.primary-btn span {
  background: #000;
  color: #c1bdbd;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOVER EFFECT */

.primary-btn:hover {
  background: #000;
  color: #e5ff9f;
  border: 2px solid #e5ff9f;
}

/* INFO */

.contact-info {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.contact-info h4 {
  margin-bottom: 10px;
}

.contact-info p {
  color: #bbb;
  font-size: 14px;
}

.contact-info span {
  color: #e5ff9f;
}

/* FORM */

.contact-form {
  background: #050505;
  padding: 50px 40px;
  border-radius: 20px;
}

.contact-form h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.contact-form h3 span {
  color: #e5ff9f;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

input,
select,
textarea {
  background: #121412;
  border: 1px solid #222;
  padding: 14px;
  border-radius: 8px;
  color: #fff;
  outline: none;
}

textarea {
  width: 100%;
  height: 130px;
  margin: 25px 0;
  resize: none;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-info {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .contact {
    padding: 80px 4%;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .contact-info {
    grid-template-columns: 1fr;
  }

  .contact-form {
    padding: 35px 25px;
  }
}
